body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  form input, form textarea, form button {
    margin: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff1a1a;
  }
  .game-item {
    display: flex;
    flex-direction: column; /* Organisation en colonne */
    padding: 10px;
    margin: 10; /* Supprime l'espacement par défaut */
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd; /* Bordure en bas de chaque élément */
    transition: background-color 0.3s;
  }



  .game-item:last-child {
    border-bottom: none; /* Supprime la bordure pour le dernier élément */
  }
  
  
  .game-item:hover {
    background-color: #e6e6e6;
  }
  
  .description {
    display: none;
    margin-top: 10px;
    padding: 5px;
    background-color: #eef;
    border-left: 3px solid #66f;
    border-radius: 3px;
    font-style: italic;
  }
  
  .description.show {
    display: block;
  }
  